/* 
    GeneralInfo components only 
    - change backgroundColor and all uniform styling in All_Components > componentBox
*/

.General_Info_Box {
  /* background-color: grey; */
  width: 70%;
}

.Contributors_Box {
  /* background-color: brown; */
  width: 90%;
}

.chart-contributors_container {
  display: flex;
}

.top-contributors {
  margin-right: 10px;
  font-size: 1.5em;
  color: #ffd700;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 100px;
}
