@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

.landingContainer {
  border: solid;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 80px;
  background-color: black;
}

#repoSearchButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headingNav {
  color: white;
  font-weight: bolder;
  font-size: 30px;
  margin-left: 20px;
}

.landingTitle {
  color: white;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.userGreeting {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.landingMessage {
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.landingMessageBottom {
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}

#backButton {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.githubLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 20px;
}

.logo-font{
  font-family: 'Bungee Shade', cursive;
}

@media only screen and (max-width: 900px) {
  .landingContainer {
    width: 70%;
    padding: 60px;
  }

}

@media only screen and (max-width: 600px) {
  .landingMessage {
    font-size: 24px;
    margin-bottom: 25px;
  }

}

