
.NewsFeedBox {
  width: 35%;
  padding: 19px;
  height: 30vh;
  overflow-y: scroll;
  margin: auto;
  z-index: 1000;
 
}
.cardtitle {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: -70px;
 
}

.cardtitle h3{
  font-size: 23px;
}


.cardtitle img{
  height: 4vh;
  width: 4vh;
  border-radius: 50%;

  
}



.container {
    display : flex;
    height: 10px;
  
}
  
.NewsFeedBox .card {
    display: grid;
    min-width: 120px;
    width: 95%;
    flex-direction: row;
    /* height: 10vh; */
    margin: 0 auto 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    position: relative;
    align-items: center;
    font-size: 1em;
   
    background-color: black;
    color: white;
    
  }
  
  .card h1{
    text-align: left;
    margin-left: 2.5em;
    font-size: 1.5rem;
    line-height: 0.9;
    position:fixed;
  }
  .nameandavatar h3{
    display:block;
    text-align: left;
    width: 60%;
    margin-left: 3.5em;
    font-size: 1.5rem;
    line-height: 0.9;
    margin-top: 0.5em;
    padding: 0;
    overflow: hidden; /* Hide overflow */
    white-space: nowrap; /* Prevent line breaks */
    text-overflow: ellipsis; /* Show ellipsis */
    max-width: calc(100% - 3.5em); /* Adjust based on the left margin */
  }
  
  
  
  .nameandavatar p{

    
    
    text-align: left;

    padding : 10px;
    /* padding-right: 10px; */
    margin-bottom:0;
   
   

  
    
  }
  
  
  .card .nameandavatar{


  
    
  
  }
  
  .nameandavatar img{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    margin: 0 auto;
    float: left;
    margin-top: 0.32em;
  }
  
