
.NewsFeedBox {
  width: 35%;
  padding: 5px;
  height: 30vh;
  overflow-y: scroll;
  margin: auto;
  z-index: 1000;
 
}



.container {
    display : flex;
    height: 10px;
  
}
  
.NewsFeedBox .card {
    display: grid;
    min-width: 120px;
    width: 100%;
    flex-direction: row;
    /* height: 10vh; */
    margin: 0 auto 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    position: relative;
    align-items: center;
    font-size: 1em;
    padding: 10px;
    background-color: black;
    color: white;
    
  }
  
  .card h1{
    text-align: left;
    margin-left: 2.5em;
    font-size: 1.5rem;
    line-height: 0.9;
    position:fixed;
  }
  .card h3{
    text-align: left;
    margin-left: 3.5em;
    font-size: 1.5rem;
    line-height: 0.9;
    margin-top: 0.5em;
  }
  
  
  
  .card p{
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-left: 5.3em;

    overflow-y: hidden;
  
    
  }
  
  
  .card .nameandavatar{
    
  
  
  
  }
  
  .nameandavatar img{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    margin: 0 auto;
    float: left;
    margin-top: 0.32em;
  }
  
