#recent-repos {
    padding-bottom: 80px;
}

.repo-name {
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.desc {
    color: white;
    font-size: 15px;
    text-align: center;
}

.repos_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px 80px;
}

.dates {
    color: white;
    font-size: 20px;
    text-align: center;
}

.card_container {
    position: relative;
    z-index: 1000;
    width: 43%;
    min-width: 350px;
    background-color: #16161A;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
    box-shadow: 3px 3px 10px #000000e0;
}

@media only screen and (max-width: 900px) {
    .card_container {
        width: 90%;
    }
  }

hr{
    width: 100%;
    border: 1px solid #ffffff;
}; 

.view-stats {
    position: relative;
    z-index: 1000;
    background-color: #2CB67D;
    color: white;
    padding: 5px;
    width: 20vw;
}

.view-stats:hover {
    background-color: white;
    color: #2CB67D;
}
