/* 
    TimeToMerge components only 
    - change backgroundColor and all uniform styling in All_Components > componentBox
*/

.TimeToMergeBox {
    /* background-color: burlywood; */
    width: 60%;
}

.note {
    color: #ad94b8;
    font-style: italic;
}