/* 
    TimeToMerge components only 
    - change backgroundColor and all uniform styling in All_Components > componentBox
*/

.TimeToMergeBox {
    /* background-color: burlywood; */
    width: 55%;
    padding: 20px;
}

.note {
    color: #ad94b8;
    font-style: italic;
}

@media only screen and (max-width: 1000px) {
    .TimeToMergeBox {
        width: 90%;
    }
  }